<app-slider></app-slider>
<div class="container mt-5 mb-5 m-auto">
  <h2 class="text-center m-3">Our Products</h2>
  <table class="table mb-5 m-auto text-center">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.productName }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <i
            [routerLink]="['/products', product.id]"
            class="fs-2 mx-1 text-warning bi bi-eye-fill" style="cursor: pointer;"
          ></i>
          <i
            [routerLink]="['/products', product.id, 'edit']"
            class="fs-2 mx-1 text-info bi bi-pencil-square" style="cursor: pointer;"
          ></i>
          <i (click)="deleteProduct(product.id)" class="fs-2 mx-1 text-danger bi bi-trash3" style="cursor: pointer;"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
