 <!-- Contact Start -->
 <div class="container-fluid py-5">
  <div class="container py-5">
      <div class="text-center mb-5">
          <h1>Login</h1>
      </div>
      <div class="row justify-content-center">
              <div class="form-control bg-info rounded p-5 w-50">
                  <form>
                     <div class="mb-3">
                          <input type="email" class="form-control border-0 p-4" id="email" placeholder="Your Email" />
                          <p class="help-block text-danger"></p>
                      </div>
                      <div class="mb-3">
                          <input type="password" class="form-control border-0 p-4" id="subject" placeholder="password" />
                          <p class="help-block text-danger"></p>
                      </div>
                      <div class="mb-3">
                          <button class="btn btn-primary py-3 px-5" type="submit">Login</button>
                      </div>
                  </form>
              </div>
      </div>
  </div>
</div>
<!-- Contact End -->
